[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
python-dotenv = "*"
anthropic = "*"
tavily-python = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.14"
